FEDAPAY_ENVIRONMENT=sandbox
FEDAPAY_PUBLIC_KEY=pk_sandbox_xxxxx
FEDAPAY_SECRET_KEY=sk_sandbox_xxxxx
FEDAPAY_WEBHOOK_SECRET=whsec_xxxxx
FEDAPAY_CALLBACK_URL=https://api.paysafe.local/payments/callback
FEDAPAY_WEBHOOK_URL=https://api.paysafe.local/webhooks/fedapay
